<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= process.env.TITLE %></title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="bookita" v-cloak>
      <section class="hero is-primary is-medium is-fullheight">
        <div class="hero-head">

        </div>
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              <b-logo></b-logo>
              {{ title }}
            </h1>
            <div class="subtitle">
              <b-database></b-database>
            </div>
          </div>
        </div>
        <div class="hero-foot"></div>
      </section>
    </div>
  </body>
</html>
