<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= process.env.TITLE %></title>
  </head>
  <body>
    <div id="bookita" v-cloak>
      <section class="hero is-primary is-medium is-fullheight">
        <div class="hero-head">
          <bkt-help></bkt-help>
        </div>
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-centered">
              <bkt-logo></bkt-logo>
              {{ title }}
            </h1>
            <div class="subtitle">
              <bkt-database></bkt-database>
            </div>
          </div>
        </div>
        <div class="hero-foot"></div>
      </section>
    </div>
  </body>
</html>
